<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <main class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card border-danger">
                        <div class="card-header bg-danger text-white text-center">
                            <h4>[[#{e403.titulo}]]</h4>
                        </div>
                        <div class="card-body text-center">
                            <i class="fas fa-ban fa-5x text-danger mb-3"></i>
                            <p class="lead">[[#{e403.texto}]]</p>
                            <a th:href="@{/}" class="btn btn-primary">
                                <i class="fas fa-home"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>