<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <main class="container mt-4">
            <h2 class="text-center">[[#{index.nuestrosProductos}]]</h2>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <p>Bienvenido a TechShop - Su tienda en línea</p>
                </div>
            </div>
        </main>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>